<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="/static/style.css">
<title>Kärlek, värjor och pistoler</title>
</head>


<body>
<div id="wrap">
	
<!--Sidhuvud-->

<header>
	<h1><br><br>Kärlek, värjor och pistoler</h1>
	<h2>En frågesport om Erika, Simon och Simon + Erika</h2>

	<div class="container">
		<div class="row">

			<div class="column">
			<div class="active"><a href="start.html"><h3>Välkommen!</h3></a></div>
			</div>

			<div class="column">
			<a href="Erika_start.html"><h3>Erikas quiz</h3></a>
			</div>

			<div class="column">
			<a href="Simon_start.html"><h3>Simons quiz</h3></a>
			</div>

		</div> <!--table row-->
	</div> <!--container-->
</header>

<!--Sidans innehåll-->

<div id="content">
	<h2>Bra kämpat!</h2>
	<p>Du fick x av x rätt. 
	<br> Dina svar kommer att läggas till i potten och hela quizzen utvärderas på självaste DAGEN! :D</p>

</div> <!--#content-->
</div> <!--#wrap-->
</body>
</html>