<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="/static/style.css">
<title>Kärlek, värjor och pistoler</title>
</head>


<body>
<div id="wrap">
	
<!--Sidhuvud-->

<header>
	<h1><br><br>Kärlek, värjor och pistoler</h1>
	<h2>En frågesport om Erika, Simon och Simon + Erika</h2>

	<div class="container">

		<div class="row">
		<p><br><br></p>

			<!--<div class="column">
			<a href="start.html"><h3>Välkommen!</h3></a>
			</div>

			<div class="column">
			<a href="Erika_start.html"><h3>Erikas quiz</h3></a>
			</div>

			<div class="column">
			<a href="Simon_start.html"><h3>Simons quiz</h3></a>
			</div>-->

		</div> <!--table row-->
	</div> <!--container-->
</header>

<!--Sidans innehåll-->


<div id="content">

<p></p>
<div class="bild_startpage">
<img src="/static/Erika.jpg" alt="Erika"></div>

<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>

<p><a href="{% url "question_page" quiz_slug 1 %}">Starta</a></p>

</div> <!--#content-->
</div> <!--#wrap-->
</body>
</html>