<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="/static/style.css">
<title>Kärlek, värjor och pistoler</title>
</head>


<body>
<div id="wrap">
	
<!--Sidhuvud-->

<header>
	<h1><br><br>Kärlek, värjor och pistoler</h1>
	<h2>En frågesport om Erika, Simon och Simon + Erika</h2>

	<div class="container">
		<div class="row">

			<div class="column">
			<div class="active"><a href="start.html"><h3>Välkommen!</h3></a></div>
			</div>

			<div class="column">
			<a href="Erika_start.html"><h3>Erikas quiz</h3></a>
			</div>

			<div class="column">
			<a href="Simon_start.html"><h3>Simons quiz</h3></a>
			</div>

		</div> <!--table row-->
	</div> <!--container-->
</header>


<!--Sidans innehåll-->

<div id="content">
<div id="content_startsidan">

	<p>
	Detta är en sida för att värma upp inför den stora dagen och för att testa vilka vänner som känner dessa två bäst. 
	<br>Ta det lugnt, det ligger bara en himla massa prestige i det här!
	</p>

	<h2>Välj sida</h2>
	<p>
	Det är nu du måste välja sida. Vems vän vill du vara och besvara frågor om?
	</p>


	<div class="container">
	<div class="row">

		<div class="column">
		<h3>.oO*o. SimOn .oO*o.</h3>
		<div class="bild_startpage">
		<img src="/static/Simon.jpg" alt="Simon">
		</div>
		</div>

		<div class="column">
		{% for quiz_slug, quiz in quizzes.items %}
		<p>{{ quiz.name }}</p>
		{% endfor %}
		</div>

		<div class="column">
		<h3>.oO*o. EriKa .oO*o.</h3>
		<div class="bild_startpage">
		<img src="/static/Erika.jpg" alt="Erika">
		</div>
		</div>

	</div> <!--table row-->
	</div> <!--container-->

</div> <!--content_startsidan-->
</div> <!--#content-->

</div> <!--#wrap-->
</body>
</html>